.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.btn{
    margin-top: 1%;
}
.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    height: 80%;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
    width: 50%;
}

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.form-group{
    outline: 0.5px solid black;
    outline-offset: 5px;
    border-radius: 30px;
    padding: 1%;
    margin-top: 2%;
}
.form-group > *{
    padding: 1%;
}
.body{
    padding: 1%;
}
body {
    font-family: Verdana, sans-serif;
}
.form-check-input{
    margin-right: 0.5%;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    height: 100%;
}

footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
label{
    margin-top: 1%;
    margin-bottom: 2%;
}