.btn{
    margin-bottom: 1%;
    width: 100%;
}
.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    height: 80%;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    height: 100%;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}
#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    z-index: 100;
}