.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.btn{
    margin-top: 1%;
}
.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    height: 80%;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
    width: 50%;
}

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.form-group{
    outline: 0.5px solid black;
    outline-offset: 5px;
    border-radius: 30px;
    padding: 1%;
    margin-top: 2%;
}
.form-group > *{
    padding: 1%;
}
.body{
    padding: 1%;
}
body {
    font-family: Verdana, sans-serif;
}
.form-check-input{
    margin-right: 0.5%;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    height: 100%;
}

footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}