* {
    margin: 0px;
    padding: 0px;
}
body {
    font: 13px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
}
.neo4jd3-graph {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.neo4jd3-info {
    font-size: 16px;
    padding: 10px;
    position: absolute;
}
.neo4jd3-info a {
    border: 1px solid;
    display: inline-block;
    font-size: 14px;
    line-height: 1.428571429;
    margin-left: 5px;
    margin-top: 5px;
    padding: 6px 12px;
}
.neo4jd3-info a.class {
    color: white;
}
.neo4jd3-info a.property {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.neo4jd3-info a.btn {
    margin-left: 5px;
    margin-top: 5px;
    opacity: 1;
}
.neo4jd3-info a.info {
    background-color: #a5abb6;
    border: 1px solid #9aa1ac;
    color: white;
}
.node.node-highlighted .ring {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    filter: alpha(opacity=50);
    opacity: .5;
    stroke: #888;
    stroke-width: 12px;
}
.node .outline {
    cursor: pointer;
    fill: #a5abb6;
    pointer-events: all;
    stroke: #9aa1ac;
    stroke-width: 2px;
}
.node .ring {
    fill: none;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    opacity: 0;
    stroke: #6ac6ff;
    stroke-width: 8px;
}
.node .text.icon {
    font-family: FontAwesome;
}

.node.selected .ring,
.node:hover .ring {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}

.relationship {
    cursor: default;
}
.relationship line {
    stroke: #aaa;
}
.relationship .outline {
    cursor: default;
}
.relationship .overlay {
    cursor: default;
    fill: #6ac6ff;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    opacity: 0;
}
.relationship text {
    cursor: default;
}
.relationship.selected .overlay,
.relationship:hover .overlay {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}
svg {
    cursor: move;
}
.link {
    stroke: slategray;
    stroke-opacity: 0.6;
    fill: none;
    stroke-width: 0.5px;
}