.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.activeAccordion, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.activeAccordion:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    height: 100%;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
    width: 50%;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.form-group{
    outline: 0.5px solid black;
    outline-offset: 5px;
    border-radius: 30px;
    padding: 1%;
    margin-top: 2%;
}
.form-group > *{
    padding: 1%;
}
.body{
    padding: 1%;
}
body {
    font-family: Verdana, sans-serif;
}
.form-check-input{
    margin-right: 0.5%;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
}
h9{
    font-size: 16px;
    font-weight: bold;
}
h6{
    font-weight: bold;
}
h5{
    font-size: 17px;
}
.config{
    font-size: 14px;
}
.petit{
    font-size: 15px;
    margin-bottom: 1%;
}
.btn-info{
    margin-bottom: 1%;
}
input::placeholder{
    font-size: 14px;
}
.fa-trash{
    color: #DC0000;
    float: right;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}