.form-group{
    outline: 0.5px solid black;
    outline-offset: 5px;
    border-radius: 30px;
    padding: 1%;
    margin-top: 2%;
}
.body{
    padding: 1%;
}
body {
    font-family: Verdana, sans-serif;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    height: 100%;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}