.form-group{
    outline: 0.5px solid black;
    outline-offset: 5px;
    border-radius: 30px;
    padding: 1%;
    margin-top: 2%;
}
.body{
    padding: 1%;
}
body {
    font-family: Verdana, sans-serif;
}
.form-control{
    margin-top: 1%;
}
.btn{
    margin-top: 1%
}
label, input::placeholder{
    font-size: 16px;
}
input::placeholder{
    font-size: 14px;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}
i{
    float: right;
}