.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    min-height: 100%;
    height:inherit;
    overflow:scroll;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.load{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    height: 100%;
}
.rawData{
    flex-grow: 100;
    height:100%;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}
#query{
    width: 98%;
    margin: 1%;
}
.btn{
    margin-left: 48%;
    margin-bottom: 1%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}