.swal-title {
    margin: 0px;
    font-size: 16px;

    margin-bottom: 28px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: start;
    min-height: 400px;
    max-height: 100%;
}

#table{
    overflow: scroll;
    max-height: 400px;
}
.item {
    flex: 0 0 auto;
    margin: 10px;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.load{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
body,
html,
.neo4jd3 {
    flex-grow: 100;
    /*! height: 100%; */
    /*! min-height: 50px; */
}
.neo4jd3{
    min-block-size:100%;
}
footer * {
    font-size: 15px;
}
.footerDiv{
    padding-left: 49%;
}
#searchIdDiv{
    display: inline-flex;
    padding-left: 13em;
    margin:10px;

}
#InputId{
    min-width: 300px;
}
#query{
    width: 98%;
    margin: 1%;

}
.btn{
    margin-left: 48%;
    margin-bottom: 1%;
}