<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="loading" hidden>
      <img id="loading-image" src="./img/Load.gif" alt="Loading..." />
    </div>
    <div class="container">
      <div class="item">
          <h1 th:text="#{changeDB.title}"></h1>
      <div id="tableDiv"></div>

      </div>
      <div class="item"  id="neo4jd3"></div>
    </div>

    <div th:replace="~{fragments :: chat}"></div>

    <footer th:replace="~{fragments :: footer}"></footer>

    <script type="text/javascript" th:inline="javascript">
      let db = /*[[${session.db}]]*/"";
      let errorString = /*[[#{changeDB.error}]]*/"";
      let dico = {};
      window.onload=initSchema("CALL db.schema.visualization();",db);loadTableDB();

      /**
       * Function use to init the graph on the right of some page.
       * @param {String} cypher the cypher request send to neo4j database.
       * @param {String} db the name of the neo4j database.
       * @returns {Promise<void>}
       */
      async function initSchema(cypher,db){
        const url ="http://localhost:8080/driverNeo4jConnect"
        const options = {
          method: 'POST',
          headers: {
            'Accept': 'application/json;charset=UTF-8',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({"cypher":"CALL db.schema.nodeTypeProperties() YIELD nodeLabels, propertyName, propertyTypes","db":db})

        };
        let error = false
        fetch(url,options)
                .then(
                        response =>{
                          if(response.status == 400){
                            error=true;
                          }
                          return response.json()
                        })
                .then(result => {
                  dico = {};
                  result.records.forEach(record => {

                    if(dico[record["nodeLabels"]]==null){
                      dico[record["nodeLabels"]] = []
                    }
                    dico[record["nodeLabels"]].push([record["propertyName"],record["propertyTypes"]])
                  })
                })
                .catch(error => {
                  console.log(error)
                })

        let neo4jd3 = Neo4jD3('#neo4jd3', {

          nodeRadius: 25,
          minCollision: 60,
          neo4jData: {results:[]},
          infoPanel:false,

          onNodeClick: function(node) {
            showProperties(node["properties"]["name"])
          },
          onRelationshipDoubleClick: function(relationship) {
            console.log('double click on relationship: ' + JSON.stringify(relationship));
          },
          zoomFit: true,
        });
        graph = neo4jd3;

        loadNeo4JDataWithDB(neo4jd3,cypher,db);
      }

      /**
       * Load the neo4J data on the webpage.
       * @param {Neo4jD3} neo4jd3 the div where we load data.
       * @param {String} cypher the cypher query send to database.
       * @param {String} db the name of the neo4j database.
       * @returns {Promise<void>}
       */
      async function loadNeo4JDataWithDB(neo4jd3,cypher,db){

        const res = await fetch("httpNeo4jRequest", {
          method: 'POST',
          headers: {
            'Accept': 'application/json;charset=UTF-8',
            'Content-Type': 'application/json'

          },
          body: JSON.stringify({"cypher":JSON.stringify(cypher),"db":db})
        })

        res.json().then(data=> neo4jd3.updateWithNeo4jData(data));
      }

      /**
       * Function which change the selected neo4j database.
       * @param {string} dbName the neo4j database.
       */
      function changeDB(dbName){
        document.getElementById("loading").hidden = false;
        fetch("http://localhost:8000/changeDB?db=" + dbName, {method: "GET", headers: {"Content-Type": "application/json"}})
                .then(data => {window.location.replace("/setDB?database="+dbName)}).catch(error => {
          swal({
            title:errorString,
            text:error.toString(),
            icon:"error",
            button: true,
          })
        })
                .then(() => {
                  document.getElementById("loading").hidden = true;
                });
      }

      /**
       * Function which load the table with databases in DBMS.
       */
      function loadTableDB(){

        let name = /*[[#{changeDB.name}]]*/ "";
        let schema = /*[[#{changeDB.seeSchema}]]*/ "";
        let load = /*[[#{changeDB.load}]]*/ "";

        const url ="http://localhost:8080/driverNeo4jConnect"
        const options = {
          method: 'POST',
          headers: {
            'Accept': 'application/json;charset=UTF-8',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({"cypher":"show databases yield name,type where type=\"standard\" return name"})

        };
        let error = false
        fetch(url,options)
                .then(
                        response =>{
                          if(response.status == 400){
                            error=true;
                          }
                          return response.json()
                        })
                .then(data=>{
                  let tableDiv = document.getElementById("tableDiv");

                  let tableDB = document.createElement("table");
                  tableDB.setAttribute("class", "table");

                  //Head of table
                  let thead = document.createElement("thead");
                  let trhead = document.createElement("tr");
                  let th1 = document.createElement("th");
                  th1.setAttribute("scope", "col");
                  th1.innerText = "#";
                  trhead.appendChild(th1);

                  let thName = document.createElement("th");
                  thName.setAttribute("scope", "col");
                  thName.innerText = name;
                  trhead.appendChild(thName);

                  let thSee = document.createElement("th");
                  thSee.setAttribute("scope", "col");
                  thSee.innerText = schema;
                  trhead.appendChild(thSee);

                  let thLoad = document.createElement("th");
                  thLoad.setAttribute("scope", "col");
                  thLoad.innerText = load;
                  trhead.appendChild(thLoad);



                  thead.appendChild(trhead);
                  tableDB.appendChild(thead);

                  //Body of table
                  let tbody = document.createElement("tbody");
                  tbody.setAttribute("id", "table");
                  let indexLink = 1;
                  console.log()
                  data.records.forEach(record=>{

                    let nameDB = record['name'];
                    let trbody = document.createElement("tr");
                    let thIndex = document.createElement("th");
                    thIndex.setAttribute("scope", "row");
                    thIndex.innerText = "" + indexLink;
                    trbody.appendChild(thIndex);

                    let tdName = document.createElement("td");
                    tdName.innerText = nameDB;
                    trbody.appendChild(tdName);

                    let tdButtonSee = document.createElement("td");
                    let centerButtonSee = document.createElement("center");
                    let buttonSee = document.createElement("button");
                    buttonSee.setAttribute("class", "btn");
                    buttonSee.setAttribute("onclick", 'initSchema("CALL db.schema.visualization();","'+nameDB+'")');
                    let iconSee = document.createElement("i");
                    iconSee.setAttribute("class", "fa-solid fa-eye fa-lg");
                    iconSee.setAttribute("style", "color: #1ed74d;");
                    buttonSee.appendChild(iconSee);
                    centerButtonSee.appendChild(buttonSee);
                    tdButtonSee.appendChild(centerButtonSee);

                    trbody.appendChild(tdButtonSee);

                    if(nameDB != db) {
                      let tdButtonChange = document.createElement("td");
                      let centerButtonChange = document.createElement("center");
                      let buttonChange = document.createElement("button");
                      buttonChange.setAttribute("class", "btn");
                      buttonChange.setAttribute("onclick", 'changeDB("'+nameDB+'");');
                      let iconChange = document.createElement("i");
                      iconChange.setAttribute("class", "fa-solid fa-circle-play fa-lg");
                      iconChange.setAttribute("style", "color: #1ed74d;");
                      buttonChange.appendChild(iconChange);
                      centerButtonChange.appendChild(buttonChange);
                      tdButtonChange.appendChild(centerButtonChange);

                      trbody.appendChild(tdButtonChange);
                    }
                    else{
                      let tdButtonChange = document.createElement("td");
                      let centerButtonChange = document.createElement("center");

                      let iconChange = document.createElement("i");
                      iconChange.setAttribute("class", "fa-solid fa-circle-check");
                      iconChange.setAttribute("style", "color: #1ed74d;");

                      centerButtonChange.appendChild(iconChange);
                      tdButtonChange.appendChild(centerButtonChange);

                      trbody.appendChild(tdButtonChange);
                    }
                    tbody.appendChild(trbody);
                    indexLink += 1;

                  })
                  tableDB.appendChild(tbody);
                  tableDiv.appendChild(tableDB);
                })
      }
    </script>
  </body>
</html>