<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{fragments :: head}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header th:replace="~{fragments :: header}"></header>
    <div class="container">
      <div class="item">
        <div class="body" id="t">
          <div class="h-100">
            <div class="row h-100">
              <div class="col-10">
                <form method="post" id="form" action="/communityDetection">
                  <div class="form-group">
                    <div id="divListAlgorithms">
                      <h6 th:text="#{communityDetection.title}"></h6>
                      <select class="form-select" name="algorithm" id="algorithm">
                        <option value="louvain" selected th:text="#{communityDetection.louvain}"></option>
                        <option value="labelPropagation" th:text="#{communityDetection.labelPropagation}"></option>
                      </select>
                      <button type="submit" class="btn btn-primary" th:text="#{communityDetection.submit}"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item"  id="neo4jd3"></div>
    </div>
    <script type="text/javascript" th:inline="javascript">
      let db = /*[[${session.db}]]*/"";
      let dico = {};

      window.onload=init("CALL db.schema.visualization();");
    </script>
    <div th:replace="~{fragments :: chat}"></div>
    <footer th:replace="~{fragments :: footer}"></footer>
  </body>
</html>