<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{fragments :: head}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <script>
      /**
       * Launch the query entered by the user.
       */
      function launchQuery(){
        let query = document.getElementById("query").value;
        execCypher(query);
      }

      window.addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
          return; // Do nothing if the event was already processed
        }

        if(event.key=="Enter" && event.ctrlKey){
          launchQuery();
        }
        else{
         return ;
        }

        // Cancel the default action to avoid it being handled twice
        event.preventDefault();
      }, true);
    </script>
    <header th:replace="~{fragments :: header}"></header>
    <div>
      <textarea id="query" th:text="${query}"></textarea>
      <button class="btn btn-info" onclick="launchQuery()" th:text="#{cypher.submit}"></button>
    </div>

    <h3 th:text="#{cypher.switch}"></h3>
    <label class="switch">
      <input id="switchResMode" type="checkbox" checked onclick="switchDisplayMode()">
      <span class="slider round"></span>
    </label>

    <div class="container">
      <div class="item">
      </div>
      <div class="item"  id="neo4jd3"></div>
      <div class="rawData" id="rawData" hidden></div>
    </div>
    <div th:replace="~{fragments :: chat}"></div>
    <footer th:replace="~{fragments :: footer}"></footer>
    <script type="text/javascript" th:inline="javascript">
      let db = /*[[${session.db}]]*/"";
      let dico = {};
      let scale = /*[[${scale}]]*/ false;

      if(/*[[${query}]]*/ "" != ""){
        window.onload = execCypher(/*[[${query}]]*/ "",scale);
      }
    </script>
  </body>
</html>