<!DOCTYPE html>
<html lang="fr">
  <head th:fragment="head">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="./img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Title'"></title>
    <link rel="stylesheet" th:href="'css/'+${css}+'.css'"/>
    <link rel="stylesheet" th:href="'css/chat.css'"/>
    <link rel="stylesheet" th:href="'css/graphDisplay.css'"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/neo4j-driver"></script>
    <script type="text/javascript" th:src="@{display.js}"></script>
    <script type="text/javascript" th:src="@{chat.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="./displayGraph.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" integrity="sha512-RJJ1NNC88QhN7dwpCY8rm/6OxI+YdQP48DrLGe/eSAd+n+s1PXwQkkpzzAgoJe4cZFW2GALQoxox61gSY2yQfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href=" https://cdn.jsdelivr.net/npm/neo4jd3@0.0.5/dist/css/neo4jd3.min.css " rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header th:fragment="header">
      <script>
        /**
         * Use to change the language of the website.
         * @param {String} langue
         */
        function changerLangue(langue) {
          if (langue != '') {
            let location = window.location.toString();
            if(!location.includes("lang")){
              if(window.location.toString().includes("?")){
                window.location.replace(location + "&lang=" + langue);
              }
              else{
                window.location.replace(location + "?lang=" + langue);
              }
            }
            else{
              if(langue == "fr"){
                window.location.replace(location.replace("lang=en", "lang=fr"))
              }
              else{
                window.location.replace(location.replace("lang=fr", "lang=en"))
              }
            }
          }
        }


      </script>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <ul class="navbar-nav mr-auto nav nav-tabs">
            <li class="nav-item">
              <a th:class="${active} == 'accueil' ? 'nav-link active' : 'nav-link'" href="/index" th:text="#{navbar.index}"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" th:class="${active} == 'regression' ? 'nav-link active dropdown-toggle' : 'nav-link dropdown-toggle' "
                 th:classappend="${active} == 'classification' ? 'nav-link active dropdown-toggle' : 'nav-link dropdown-toggle'"

                 href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{navbar.nodePrediction}">
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a th:class="${active} == 'classification' ? 'nav-link active' : 'nav-link'" href="/classification" th:text="#{navbar.classification}"></a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <a th:class="${active} == 'regression' ? 'nav-link active' : 'nav-link'" href="/regression" th:text="#{navbar.regression}"></a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'linkPrediction' ? 'nav-link active' : 'nav-link'" href="/linkPrediction" th:text="#{navbar.linkPrediction}"></a>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'cypher' ? 'nav-link active' : 'nav-link'" href="/cypher" th:text="#{navbar.cypher}"></a>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'centrality' ? 'nav-link active' : 'nav-link'" href="/centrality" th:text="#{navbar.centrality}"></a>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'communityDetection' ? 'nav-link active' : 'nav-link'" href="/communityDetection" th:text="#{navbar.communityDetection}"></a>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'similarity' ? 'nav-link active' : 'nav-link'" href="/similarity" th:text="#{navbar.similarity}"></a>
            </li>
            <li th:if="${#locale.toString()}  != 'en' " class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" height="12px" viewBox="-10 -10 3020 2020">
                  <g id="French_Flag_by_Adam_Stanislav">
                    <title>Flag of France, by Adam Stanislav</title>
                    <rect fill="rgb(0%,14%,58%)" x="0" y="0" width="1010" height="2000" />
                    <rect fill="rgb(97%,97%,97%)" x="1000" y="0" width="1010" height="2000" />
                    <rect fill="rgb(93%,16%,22%)" x="2000" y="0" width="1000" height="2000" />
                    <rect fill="none" stroke="rgb(55%,55%,55%)" stroke-width="10" x="0" y="0" width="3000" height="2000" />
                  </g>
                </svg>
              </a>
              <ul class="dropdown-menu">
                <li onclick="changerLangue('fr')"><a class="nav-link active">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" height="12px" viewBox="-10 -10 3020 2020">
                  <g id="French_Flag_by_Adam_Stanislav">
                    <title>Flag of France, by Adam Stanislav</title>
                    <rect fill="rgb(0%,14%,58%)" x="0" y="0" width="1010" height="2000" />
                    <rect fill="rgb(97%,97%,97%)" x="1000" y="0" width="1010" height="2000" />
                    <rect fill="rgb(93%,16%,22%)" x="2000" y="0" width="1000" height="2000" />
                    <rect fill="none" stroke="rgb(55%,55%,55%)" stroke-width="10" x="0" y="0" width="3000" height="2000" />
                  </g>
                </svg>
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li onclick="changerLangue('en')"><a class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="20px" height="12px">
                  <clipPath id="t">
                    <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
                  </clipPath>
                  <path d="M0,0v30h50v-30z" fill="#012169"/>
                  <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
                  <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                  <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
                </svg></a></li>
              </ul>
            </li>
            <li th:if="${#locale.toString()} == 'en' " class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="20px" height="12px">
                <clipPath id="t">
                  <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
                </clipPath>
                <path d="M0,0v30h50v-30z" fill="#012169"/>
                <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
                <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
              </svg></a>
              <ul class="dropdown-menu">
                <li onclick="changerLangue('fr')"><a class="nav-link">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" height="12px" viewBox="-10 -10 3020 2020">
                    <g id="French_Flag_by_Adam_Stanislav">
                      <title>Flag of France, by Adam Stanislav</title>
                      <rect fill="rgb(0%,14%,58%)" x="0" y="0" width="1010" height="2000" />
                      <rect fill="rgb(97%,97%,97%)" x="1000" y="0" width="1010" height="2000" />
                      <rect fill="rgb(93%,16%,22%)" x="2000" y="0" width="1000" height="2000" />
                      <rect fill="none" stroke="rgb(55%,55%,55%)" stroke-width="10" x="0" y="0" width="3000" height="2000" />
                    </g>
                  </svg>
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li onclick="changerLangue('en')"><a class="nav-link active">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="20px" height="12px">
                    <clipPath id="t">
                      <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
                    </clipPath>
                    <path d="M0,0v30h50v-30z" fill="#012169"/>
                    <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
                    <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                    <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
                  </svg>
                </a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto nav nav-tabs ms-auto">
            <li class="nav-item">
              <a th:class="${active} == 'changeDB' ? 'nav-link active' : 'nav-link'" href="/changeDB" th:text="#{navbar.changeDB}"></a>
            </li>
            <li class="nav-item">
              <a th:class="${active} == 'login' ? 'nav-link active' : 'nav-link'" href="/" th:text="#{navbar.login}"></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="Smallchat" th:fragment="chat">
      <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
        <div class="Messenger_messenger">
          <div class="Messenger_header" style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">
            <h4 class="Messenger_prompt" th:text="#{chatBot.title}"></h4> <span class="chat_close_icon"><i class="fa-solid fa-circle-xmark"></i></i></span> </div>
          <div class="Messenger_content">
            <div class="Messages">
              <div class="Messages_list" id="divMessageList"></div>
            </div>
            <div class="Input Input-blank">
              <input class="Input_field" th:placeholder="#{chatBot.placeholder}" style="height: 20px;" id="inputChat"></input>

              <button class="Input_button Input_button-send" onclick="sendMessage()">
                <div class="Icon" style="width: 18px; height: 18px;">
                  <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                    <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--===============CHAT ON BUTTON START===============-->
      <div class="chat_on"> <span class="chat_on_icon"><i class="fa fa-comments" aria-hidden="true"></i></span> </div>
      <!--===============CHAT ON BUTTON END===============-->
    </div>

    <footer class="bg-light text-center text-lg-start text-black border-top mt-1 navbar-fixed-bottom" style="overflow: clip" th:fragment="footer">
          <!-- Grid container -->
          <div class="pt-1">
            <!--Grid row-->
            <div class="row mt-1">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mt-1 mx-auto" style="width: 150px; height: 150px;">
                  <img src="./img/logo.png" height="70" alt="Logo EASI GDS"
                       loading="lazy"/>
                </div>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                  <li>
                    <a class="text-black" href="#!">
                      <i class="fab fa-gitlab"></i>
                    </a>
                  </li>
                </ul>

              </div>

              <div class="footerDiv col-lg-9 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4"><i class="fa-solid fa-id-card"></i> Laboratoire d'Informatique Fondamentale d'Orléans</h5>

                <ul class="list-unstyled">
                  <li>
                    <p><i class="fas fa-map-marker-alt pe-2"></i> 6 Rue Léonard de Vinci, 45067 Orléans, France</p>
                  </li>
                  <li>
                    <p><i class="fas fa-phone pe-2"></i>02 38 41 70 11</p>
                  </li>
                  <li>
                    <p><i class="fas fa-envelope pe-2 mb-0"></i>valentin.bouvresse@etu.univ-orleans.fr</p>
                  </li>
                  <li>
                    <p><i class="fas fa-envelope pe-2 mb-0"></i>virgile.crvenka@etu.univ-orleans.fr</p>
                  </li>
                  <li><a href="https://www.univ-orleans.fr/lifo/" style="color: black;"><i class="fas fa-link pe-2 mb-0"></i>https://www.univ-orleans.fr/lifo/</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © BOUVRESSE Valentin / CRVENKA Virgile
          </div>
    </footer>

  </body>
</html>