<!DOCTYPE html>
<html lang="fr">
    <head th:replace="~{fragments :: head}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div class="container">
            <div class="item">
                <h1 th:text="#{index.bienvenue}"></h1>
                <form action="/classification" method="get">
                    <button type="submit" class="btn btn-primary" th:text="#{index.classification}" data-toggle="tooltip" data-placement="top" th:title="#{help.classification}"></button>
                </form>
                <form action="/regression" method="get">
                    <button type="submit" class="btn btn-success" th:text="#{index.regression}" data-toggle="tooltip" data-placement="top" th:title="#{help.regression}"></button>
                </form>
                <form action="/linkPrediction" method="get">
                    <button type="submit" class="btn btn-danger" th:text="#{index.linkPrediction}" data-toggle="tooltip" data-placement="top" th:title="#{help.linkPrediction}"></button>
                </form>
                <br>
                <form action="/cypher" method="get">
                    <button type="submit" class="btn btn-secondary" th:text="#{index.cypher}" data-toggle="tooltip" data-placement="top" th:title="#{help.cypher}"></button>
                </form>
                <form action="/centrality" method="get">
                    <button type="submit" class="btn btn-dark" th:text="#{index.centrality}" data-toggle="tooltip" data-placement="top" th:title="#{help.centrality}"></button>
                </form>
                <form action="/communityDetection" method="get">
                    <button type="submit" class="btn btn-info" th:text="#{index.communityDetection}" data-toggle="tooltip" data-placement="top" th:title="#{help.communityDetection}"></button>
                </form>
                <form action="/similarity" method="get">
                    <button type="submit" class="btn btn-warning" th:text="#{index.similarity}" data-toggle="tooltip" data-placement="top" th:title="#{help.similarity}"></button>
                </form>

            </div>
            <div class="item"  id="neo4jd3"></div>
        </div>

        <div th:replace="~{fragments :: chat}"></div>

        <footer th:replace="~{fragments :: footer}"></footer>

        <script type="text/javascript" th:inline="javascript">
            let db = /*[[${session.db}]]*/"";
            let dico = {};
            window.onload=init("CALL db.schema.visualization();");
        </script>
    </body>
</html>