<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{fragments :: head}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <script th:inline="javascript">
      /**
       * Use to check if the database information entered are correct.
       */
      function  logind(){
        let formL = document.getElementById('formLogin');
        let username = document.getElementById("InputName1").value;
        let password = document.getElementById("InputPassword1").value;
        let port = document.getElementById("InputPort1").value;
        let address = document.getElementById("InputAddress").value;
        let errorString = /*[[#{login.error}]]*/"";

        const url ="http://localhost:8080/driverNeo4jConnectLogin"
        const options = {
          method: 'POST',
          headers: {
            'Accept': 'application/json;charset=UTF-8',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({"userName":username,"pwd":password,"address":address,"port":port,"cypher":"show databases yield name,default where default=true return name"})

        };
        let error = false
        fetch(url,options)
                .then(
                response =>{
                  if(response.status == 400){
                    error=true;
                  }
                  return response.json()
                })

         .then(res =>{
                    if (error){
                      let error = new Error(res.message);
                      error.name = res.name;
                      throw error;
                    }

          let dbName = document.createElement("input");
          dbName.setAttribute("hidden","true");
          dbName.setAttribute("id","db");
          dbName.setAttribute("name","db");
          dbName.setAttribute("value",res.records[0].name);
          formL.appendChild(dbName);
          formL.submit();
        }).catch(error => {
          console.log(error)
          swal({
            title:errorString,
            text:error.toString(),
            icon:"error",
            button: true,
          })
        })
      }

      window.addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
          return; // Do nothing if the event was already processed
        }

        switch (event.key) {
          case "Enter":
            logind();
            // code for "down arrow" key press.
            break;

          default:
            return; // Quit when this doesn't handle the key event.
        }

        // Cancel the default action to avoid it being handled twice
        event.preventDefault();
      }, true);
    </script>
    <header th:replace="~{fragments :: header}"></header>
      <div class="body">
        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
              <form action="/index" id="formLogin" method="post">
                <div class="form-group">
                  <div class="mb-3">
                    <h3 style="font-weight: bold; text-align: center;">Login</h3>
                    <div th:if="${session.userName == null || session.pwd == null}">
                      <p style="color: red; font-weight: bold; text-align: center;" th:text="#{login.errorNoUserPWD}"></p>
                    </div>
                    <label for="InputName1" th:text="#{login.userName}"></label>
                    <input name="userName" type="text" class="form-control" id="InputName1" aria-describedby="nameHelp" th:placeholder="#{login.placeholder.userName}">
                    <small id="nameHelp" class="form-text text-muted" th:text="#{login.defaultUserName}"></small>
                  </div>
                  <div class="mb-3">
                    <label for="InputPassword1" th:text="#{login.pwd}"></label>
                    <input name="pwd" type="password" class="form-control" id="InputPassword1" th:placeholder="#{login.placeholder.pwd}">
                  </div>
                  <div class="mb-3">
                    <label for="InputAddress" th:text="#{login.address}"></label>
                    <input value="localhost" name="address" type="text" class="form-control" id="InputAddress" aria-describedby="addressHelp" th:placeholder="#{login.placeholder.address}">
                    <small id="addressHelp" class="form-text text-muted" th:text="#{login.defaultAddress}"></small>

                  </div>
                  <div class="mb-3">
                    <label for="InputPort1" th:text="#{login.port}"></label>
                    <input value="7474" name="port" type="number" class="form-control" id="InputPort1" aria-describedby="portHelp" th:placeholder="#{login.placeholder.port}">
                    <small id="portHelp" class="form-text text-muted" th:text="#{login.defaultPort}"></small>
                  </div>
                  <button type="button" onclick="logind()" class="btn btn-primary" th:text="#{login.submit}"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div th:replace="~{fragments :: chat}"></div>
    <footer th:replace="~{fragments :: footer}"></footer>
    <script type="text/javascript" th:inline="javascript">
      let db = /*[[${session.db}]]*/"";
    </script>
  </body>
</html>