<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{fragments :: head}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header th:replace="~{fragments :: header}"></header>
    <script>
      /**
       * Launch the query entered by the user.
       */
      function launchQuery(){
        let query = document.getElementById("query").value;
        execLinkPred(query);
      }
    </script>

    <div>
      <textarea id="query" th:text="${query}"></textarea>
      <button class="btn btn-info" onclick="launchQuery()" th:text="#{classification.submit}"></button>
    </div>

    <div id="searchIdDiv" class="mb-3" hidden>
      <input name="idSearch" onkeyup="searchLinkPred()" onchange="searchLinkPred()" type="number" class="form-control" id="InputId"  th:placeholder="#{linkPrediction.search.placeholder}">
    </div>

    <div class="container">
      <div class="item" id="table">
      </div>


      <div class="item"  id="neo4jd3"></div>
    </div>
    <div th:replace="~{fragments :: chat}"></div>
    <footer th:replace="~{fragments :: footer}"></footer>
    <script type="text/javascript" th:inline="javascript">
      let db = /*[[${session.db}]]*/ "";

      let emptyText = /*[[#{linkPrediction.noResult}]]*/ "";
      let dico = {};
      let dicoRes = {};
      window.onload=execLinkPred(/*[[${query}]]*/);

    </script>
  </body>
</html>