<!DOCTYPE html>
<html lang="fr">
    <head th:replace="~{fragments :: head}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
    <script>
        let dicoRes = {};
        /**
         * Launch the query entered by the user.
         */
        function launchQuery(){
            let query = document.getElementById("query").value;
            execClass(query);
        }
    </script>
        <header th:replace="~{fragments :: header}"></header>
    <div>
        <textarea id="query" th:text="${query}"></textarea>
        <button class="btn btn-info" onclick="launchQuery()" th:text="#{classification.submit}"></button>
    </div>

    <h3 th:text="#{classification.switch}"></h3>
    <label class="switch">
        <input type="checkbox" checked onclick="switchDisplayMode()">
        <span class="slider round"></span>
    </label>

        <div class="container">
            <div class="item">
            </div>
            <div class="item"  id="neo4jd3"></div>
            <div class="rawData" id="rawData" hidden></div>
        </div>
        <div th:replace="~{fragments :: chat}"></div>
        <footer th:replace="~{fragments :: footer}"></footer>
        <script type="text/javascript" th:inline="javascript">
            let db = /*[[${session.db}]]*/"";
            let dico = {};

            window.onload=execClass(/*[[${query}]]*/);
        </script>
    </body>
</html>